###### Import necessary librairies

In [1]:
import pandas as pd
import numpy as np

###### Import CSV data file into Python

In [7]:
#Our dataset is store in two seperated csv files

df2020 = pd.read_csv('D:/Documents/Ironhack/Projet 3/DataAQI/waqi-covid19-airqualitydata-2020.csv')
df2019 = pd.read_csv('D:/Documents/Ironhack/Projet 3/DataAQI/waqi-covid19-airqualitydata-2019.csv')

###### Contatenate all dataframes in one

In [12]:
list_df = [df2020,df2019]
df = pd.concat(list_df, ignore_index = True)

###### Analyze structure of dataframe and perform the data cleaning

In [15]:
df.head()

,Date,Country,City,Specie,count,min,max,median,variance
0,9/1/2020,SV,San Salvador,humidity,39,69.0,95.4,86.2,433.83
1,3/28/2020,SV,San Salvador,humidity,72,48.2,95.6,77.2,1648.28
2,4/14/2020,SV,San Salvador,humidity,72,73.4,97.7,91.2,661.29
3,5/17/2020,SV,San Salvador,humidity,72,49.5,98.0,87.6,1297.18
4,1/23/2020,SV,San Salvador,humidity,72,50.0,94.0,82.0,2010.52

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097142 entries, 0 to 2097141
Data columns (total 9 columns):
 #   Column    Dtype
---  ------    -----
 0   Date      object
 1   Country   object
 2   City      object
 3   Specie    object
 4   count     int64
 5   min       float64
 6   max       float64
 7   median    float64
 8   variance  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 144.0+ MB

In [17]:
df.shape

(2097142, 9)

As we can see, the dataframe has 2 097 142 rows which are the same number as the total rows in two csv files.

###### Drop duplicated rows

In [23]:
df[df.duplicated()]

,Date,Country,City,Specie,count,min,max,median,variance
1050677,1/1/2020,CA,Hamilton,pm25,93,5.0,63.0,17.0,1668.00
1050688,1/3/2020,CA,Hamilton,pm25,82,21.0,63.0,42.0,1058.30
1050837,1/4/2020,CA,Hamilton,pm25,77,5.0,38.0,17.0,809.38
1050866,12/30/2019,CA,Hamilton,pm25,64,5.0,21.0,13.0,139.01
1050874,1/5/2020,CA,Hamilton,pm25,67,5.0,42.0,13.0,767.96
...,...,...,...,...,...,...,...,...,...
2097014,12/31/2019,DE,Dresden,o3,96,1.7,28.5,18.7,603.88
2097046,1/2/2020,DE,Dresden,so2,96,3.7,7.7,5.0,9.18
2097053,12/30/2019,DE,Dresden,so2,24,5.7,10.7,7.3,15.68
2097062,1/1/2020,DE,Dresden,so2,42,0.7,4.7,1.1,15.94
2097135,1/5/2020,DE,Dresden,so2,76,0.6,1.7,0.9,0.68

We note that there are 11 926 duplicated rows. In fact, there are data of some months that appear in both two csv files.

Thus, we will drop the duplicated rows.

In [27]:
df.drop_duplicates(inplace = True)

In [28]:
df.shape

(2085216, 9)

As we can see, the number of rows has decreased since we dropped duplicated rows.
The number of remaining rows is correct.

###### Move the categories in the column 'Specie' to the level 1 of indexes of columns

In [19]:
# We note that the column 'Specie' contains all categories whose values per location and per day are stored in the columns: count, max, min, median, variance
df['Specie'].unique()

array(['humidity', 'wind speed', 'wind gust', 'wind-gust', 'temperature',
       'pm25', 'pressure', 'mepaqi', 'wind-speed', 'dew', 'wd', 'o3',
       'so2', 'co', 'pm10', 'no2', 'precipitation', 'pm1', 'uvi', 'aqi',
       'pol', 'neph'], dtype=object)

In [32]:
# We move the categories in the column 'Specie' to the level 1 of column index
# Thus, the level 0 of column indexes will be: count, max, min, median, variance

df = df.set_index(['Date', 'Country','City','Specie'])[['count','min','max','median','variance']].unstack(3)

# After the query above, We also reset the index and convert the column 'Date', 'Country','City' from index type to the normal column
df = df.reset_index(level = [0,1,2])

In [33]:
df.head()

            Date Country          City count                                 \
Specie                                   aqi  co   dew humidity mepaqi neph
0       1/1/2019      AE     Abu Dhabi   NaN NaN  21.0     24.0    NaN  NaN
1       1/1/2019      AR  Buenos Aires   NaN NaN  24.0     96.0    NaN  NaN
2       1/1/2019      BD         Dhaka   NaN NaN   NaN     19.0    NaN  NaN
3       1/1/2019      BG        Burgas   NaN NaN  34.0     48.0    NaN  NaN
4       1/1/2019      BG       Plovdiv   NaN NaN  16.0     48.0    NaN  NaN

              ...      variance                                           \
Specie   no2  ... precipitation    pressure     so2 temperature uvi   wd
0        NaN  ...           NaN       13.46     NaN       80.27 NaN  NaN
1        NaN  ...           NaN  1927430.00     NaN     1431.67 NaN  0.0
2        NaN  ...           NaN       22.57     NaN      158.46 NaN  NaN
3       12.0  ...           NaN       92.47   26.55       47.65 NaN  NaN
4       23.0  ...           NaN       50.24  122.84      132.07 NaN  NaN


Specie wind gust wind speed wind-gust wind-speed
0            NaN        NaN       NaN       8.43
1            NaN        NaN     35.86      10.82
2            NaN        NaN       NaN        NaN
3            NaN        NaN    204.69      34.93
4            NaN        NaN     34.47       6.29

[5 rows x 113 columns]

As we can see, the categories in the column 'Specie' are moved to the level 1 of index of columns.